<header id="site-header"
        class="header">
    <div class="header--left">
        <div class="brand">
            <a href="/"
               class="link">
                <span class="title">Justinian Codes</span>
            </a>
        </div>
    </div>
    <div class="header--right">
        <nav class="nav">
            <ul class="nav__items">
                <li class="nav__item nav__item--active">
                    <NavLink class="nav__link"
                             href=""
                             Match="NavLinkMatch.All">
                        <span class="nav__label">About</span>
                    </NavLink>
                </li>
                <li class="nav__item">
                    <NavLink class="nav__link"
                             href="skills"
                             Match="NavLinkMatch.All">
                        <span class="nav__label">Skills</span>
                    </NavLink>
                </li>
                <li class="nav__item">
                    <NavLink class="nav__link"
                             href="portfolio"
                             Match="NavLinkMatch.All">
                        <span class="nav__label">Portfolio</span>
                    </NavLink>
                </li>
                <li class="nav__item">
                    <NavLink class="nav__link"
                             href="blog"
                             Match="NavLinkMatch.All">
                        <span class="nav__label">Blog</span>
                    </NavLink>
                </li>
            </ul>
        </nav>
        <button class="btn btn--primary btn--header"
                type="button">
            Say Hello 👋
        </button>
    </div>
</header>

@code {



}
