<footer class="footer">
    <div class="brand">
        <a href=""
           class="link">
            <span class="title">Justinian Codes</span>
        </a>
    </div>
    <div class="copyright">
        <span> COPYRIGHT &copy; 2022 CREATED BY JUSTIN ERDMIER </span>
        &nbsp; &middot; &nbsp;
        <span>
            COPYRIGHT &copy; 2018 ORIGINAL UI/UX DESIGN BY
            <a href="https://rauliqbal.vercel.app/">RAULIQBAL</a>
        </span>
    </div>
</footer>

@code {



}
