<section class="section section--skills">
    <div class="skills skills--wrapper">
        <div class="left--wrapper">
            <p class="section__sub-title">WHAT I DO</p>
            <h1 class="section__title">Specializing In</h1>
            <p class="section__content">
                I always prioritize the quality and convenience of
                consumers to create an attractive and fast website.
                *Change this text*
            </p>
            <img id="programming-img"
                 src="images/programming.svg"
                 alt=""/>
        </div>
        <div class="right--wrapper">
            <div class="skills__list">
                <div class="skill">
                    <div class="skill__icon">
                        <span class="bi bi-braces-asterisk"></span>
                    </div>
                    <h1 class="skill__title">C# & .NET Core</h1>
                    <span class="skill__link">
                        LEARN MORE →
                    </span>
                    @* <div id="skill-one" *@
                    @*      class="modal"> *@
                    @*     <div class="modal__content modal__content--40"> *@
                    @*         <div class="modal__header"> *@
                    @*             <h3 class="modal__title"> *@
                    @*                 C# & .NET Core *@
                    @*             </h3> *@
                    @*             <div class="modal__close-icon"> *@
                    @*                 <span class="bi bi-x"></span> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*         <p class="modal__dialog"> *@
                    @*             Write some info about my knowledge *@
                    @*             and passion for C# and .NET Core. *@
                    @*         </p> *@
                    @*     </div> *@
                    @* </div> *@
                </div>
                <div class="skill">
                    <div class="skill__icon">
                        <span class="bi bi-circle-square"></span>
                    </div>
                    <h1 class="skill__title">Web UI/UX Design</h1>
                    <span class="skill__link">
                        LEARN MORE →
                    </span>
                    @* <div id="skill-two" *@
                    @*      class="modal"> *@
                    @*     <div class="modal__content modal__content--40"> *@
                    @*         <div class="modal__header"> *@
                    @*             <h3 class="modal__title"> *@
                    @*                 Web UI/UX Design *@
                    @*             </h3> *@
                    @*             <div class="modal__close-icon"> *@
                    @*                 <span class="bi bi-x"></span> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*         <p class="modal__dialog"> *@
                    @*             Write about my passion for UI/UX *@
                    @*             design. *@
                    @*         </p> *@
                    @*     </div> *@
                    @* </div> *@
                </div>
                <div class="skill">
                    <div class="skill__icon">
                        <span class="bi bi-bar-chart-steps"></span>
                    </div>
                    <h1 class="skill__title">
                        Project Planning & Management
                    </h1>
                    <span class="skill__link">
                        LEARN MORE →
                    </span>
                    @* <div id="skill-three" *@
                    @*      class="modal"> *@
                    @*     <div class="modal__content modal__content--40"> *@
                    @*         <div class="modal__header"> *@
                    @*             <h3 class="modal__title"> *@
                    @*                 Project Planning & Management *@
                    @*             </h3> *@
                    @*             <div class="modal__close-icon" *@
                    @*                  onclick='closeModal("skill-three")'> *@
                    @*                 <span class="bi bi-x"></span> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*         <p class="modal__dialog"> *@
                    @*             Write about my passion for project *@
                    @*             management *@
                    @*         </p> *@
                    @*     </div> *@
                    @* </div> *@
                </div>
                <div class="skill">
                    <div class="skill__icon">
                        <span class="bi bi-git"></span>
                    </div>
                    <h1 class="skill__title">Version Control</h1>
                    <span class="skill__link">
                        LEARN MORE →
                    </span>
                    @* <div id="skill-four" *@
                    @*      class="modal"> *@
                    @*     <div class="modal__content modal__content--40"> *@
                    @*         <div class="modal__header"> *@
                    @*             <h3 class="modal__title"> *@
                    @*                 Version Control w/ Git *@
                    @*             </h3> *@
                    @*             <div class="modal__close-icon" *@
                    @*                  onclick='closeModal("skill-four")'> *@
                    @*                 <span class="bi bi-x"></span> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*         <p class="modal__dialog"> *@
                    @*             Write about my knowledge and use of *@
                    @*             Git, branch management, and semantic *@
                    @*             versioning. *@
                    @*         </p> *@
                    @*     </div> *@
                    @* </div> *@
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    

}
