<section class="section section--hero">
    <div class="hero hero--wrapper">
        <div class="message-wrapper">
            <p class="intro">Hello, I'm Justinian 👋</p>
            <h1 class="profession">SOFTWARE DEVELOPER</h1>
            <p class="message">
                Young software developer with a passion for
                learning; aspiring to make the human experience
                better through technology.
            </p>
            <div class="buttons">
                <button class="btn btn--primary btn--primary--light"
                        type="button">
                    Recent Project →
                </button>
                <button class="btn btn--primary btn--primary--outline"
                        type="button">
                    Download CV
                </button>
            </div>
        </div>
        <div class="image">
            <img class="portrait"
                 src="images/tilted-portrait.svg"
                 alt="" />
        </div>
    </div>
    <img class="section--wave"
         src="images/wave.svg"
         alt="" />
    <img id="blob-one"
         src="images/blob-one.svg"
         alt="" />
    <img id="blob-two"
         src="images/blob-two.svg"
         alt="" />
</section>

@code {



}
