<section class="section section--contact">
    <div class="contact contact--wrapper">
        <div class="top--wrapper">
            <p class="section__sub-title">CONTACT ME</p>
            <h1 class="section__title">SAY HELLO 😁</h1>
        </div>
        <div class="bottom--wrapper">
            <div class="left-box--wrapper">
                <h3 class="sub-section__title">
                    Contact Information
                </h3>
                <p class="sub-section__message">
                    Like my work? Want to talk? Connect with me
                    today!
                </p>
                <ul class="contact-information-list">
                    <li class="item">
                        <span class="icon bi bi-person"></span>
                        &nbsp; Justin Erdmier
                    </li>
                    <li class="item">
                        <span class="icon bi bi-phone"></span>
                        &nbsp; +1 (812) 598-3760
                    </li>
                    <li class="item">
                        <span class="icon bi bi-envelope"></span>
                        &nbsp; justin.erdmier@outlook.com
                    </li>
                </ul>
                <div class="nav nav--socials">
                    <ul class="nav__items">
                        <li class="nav__item">
                            <a href="#"
                               class="nav__link">
                                <span class="nav__icon bi bi-github"></span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#"
                               class="nav__link">
                                <span class="nav__icon bi bi-stack-overflow"></span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#"
                               class="nav__link">
                                <span class="nav__icon bi bi-linkedin"></span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#"
                               class="nav__link">
                                <span class="nav__icon bi bi-twitter"></span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#"
                               class="nav__link">
                                <span class="nav__icon bi bi-youtube"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <img id="blob-three"
                     src="images/blob-one.svg" 
                     alt=""/>
                <img id="blob-four"
                     src="images/blob-two.svg" 
                     alt=""/>
            </div>
            <div class="form--wrapper">
                <form action="#">
                    <label for="name">Name</label>
                    <input type="text"
                           name="name"
                           id="name"
                           placeholder="Your name..." />
                    <label for="email">Email</label>
                    <input type="email"
                           name="email"
                           id="email"
                           placeholder="Your email..." />
                    <label for="message">Message</label>
                    <textarea
                                    name="message"
                                    id="message"
                                    placeholder="Your message..."
                                    rows="3"
                                ></textarea>
                    <button type="submit"
                            class="btn btn--primary">
                        Send Message 📨
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

@code {

    

}
