<section class="section section--about">
    <div class="about about--wrapper">
        <div class="image">
            <img id="about-me-img"
                 src="images/about-me.svg"
                 alt="" />
        </div>
        <div class="message-wrapper">
            <p class="section__sub-title">ABOUT ME</p>
            <h1 class="section__title">Learning Enthusiast</h1>
            <p class="section__content">
                My name is Muhamad Raul Iqbal,tortor posuere ac ut
                consequat semper viverra nam libero justo laoreet
                sit amet cursus My name is Muhamad Raul Iqbal,tortor
                posuere ac ut consequat semper viverra nam libero
                justo laoreet sit amet cursus
            </p>
            <p class="section__content">
                My name is Muhamad Raul Iqbal,tortor posuere ac ut
                consequat semper viverra nam libero justo laoreet
                sit amet cursus
            </p>
            <div class="stats">
                <div class="stat-box">
                    <p class="stat">1</p>
                    <p class="stat-label">Years of Experience</p>
                </div>
                <div class="stat-box">
                    <p class="stat">8</p>
                    <p class="stat-label">Projects Completed</p>
                </div>
                <div class="stat-box">
                    <p class="stat">3</p>
                    <p class="stat-label">Certificates & Awards</p>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    

}
